@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

  nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background: var(--color-bg-primary);
    position: absolute;
    top: 100%;
    left: 0;
    padding: 1rem;
    gap: 0;
    align-items: flex-end;
  }

  nav a {
    margin: 0.5rem 0;
  }

  nav.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .hero-content {
    flex-direction: column;
    margin-bottom: 3rem;
    gap: 0.5rem;
    align-items: flex-start;
  }

  .hero-left {
    text-align: left;
  }

  .hero-left h1 {
    font-size: 3rem;
    margin: 0;
    text-align: left;
  }

  .hero-tagline {
    margin: 3rem 0 2rem;
  }

  .container {
    padding: 0 2rem;
  }

  .hero-right {
    flex: none;
    text-align: left;
    justify-content: flex-start;
  }

  .hero-right p br {
    display: none;
  }

  .featured-card {
    flex-direction: column;
    padding: 2rem;
    margin: 0;
  }

  .featured-card-screenshots {
    padding: 0;
    order: 2;
  }

  .featured-card .preview {
    height: 140px;
  }
  
  .app-card {
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
  }
  .app-content {
    min-height: auto;
  }

  .app-image {
    justify-content: center;
    order: 2;
  }

  .app-image img {
    max-width: 100%;
  }
}
